body {
    max-width: 600px;
    margin: 5px auto 0 auto;
}

header {
    background-color: rgb(246, 243, 220);

    padding: 20px 80px 20px 80px;
    border-radius: 1.25%/4.25%;

    text-align: center;
    color: rgb(150, 132, 97);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

nav,
.main-content {
    border-bottom: 1px solid gainsboro;
}

nav,
ul {
    text-align: center;
    padding-inline-start: 6px;

    list-style-type: none;
}

li,
a {
    display: inline-block;
    padding-right: 9px;

    text-decoration-style: dotted;

    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(82, 82, 82);
}

.main-content-title {
    text-align: center;

}

img {
    height: 350px;
    border-radius: 50%;

    border: 1px solid;
    border-bottom: 3px solid;

}

h3 p,
.main-content {
    font-family: Georgia, 'Times New Roman', Times, serif;

footer {
    margin-top: 30px;
    text-align: center;

    font-size: 16px;
}